/* globals */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  /* backdrop-filter: blur(5px); */
}

.header a {
  text-decoration: none;
  color: #111111;
  font-size: 2rem;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  font-size: 1rem;
  padding: 0.5em 1em;

}

.menu-items li a:hover {
  color: #c05d0c; /*hover in full */
}

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #111111;

}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background-color: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #ffffff;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #ffffff;
}

.section h1 {
  padding:40px;
}

/* sections */
.section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* intro section */
.intro-section {

}

.intro-col {
  padding: clamp(1rem, 8vw, 5rem);
  max-width: 50%;
}


.intro-section img {
  width: clamp(250px, 30vw, 500px);
}

/* custom shape for intro section */
.custom-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider .shape-fill {
  fill: #ffffff;
}

/* media query for tablet devices */
@media (max-width: 1023px) {
  .custom-shape-divider svg {
    width: calc(200% + 1.3px);
    height: 150px;
  }
  .intro-col {
    max-width: 100%;
    width: clamp(300px, 50vw, 600px);
    padding: 0;
  }

}

/* media query for mobile devices */
@media (max-width: 700px) {
  .custom-shape-divider svg {
    width: calc(250% + 1.3px);
    height: 150px;
  }
  .header a {
    font-size: 1rem;
  }
  .footer a {
    font-size: 1rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    background-color: #e6c487;

  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff; /*list of items before selecting*/
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color: #c2775a; /*list of items after selecting*/
  }
}


/*========= footer =================*/

 .footer {
    text-align: center;
    padding: 2.5em 0;
    font-weight: bold;
  }

  .footer a {
    color: #c2775a;
    text-decoration: none;

  }
  .footer-link:hover,
  .social-list_link:hover {
    opacity: 0.6;
  }

  .footer-link:hover {
    text-decoration: underline;
  }

  .social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0;
    padding: 0;
    font-size: 19px;
  }

  .social-list_item {
    margin: 0 .5em;
  }

  .social-list_link {
    padding: .5em;
  }
